# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
assets/fonts/MaterialSymbolsRounded_Filled-Bold.ttf
assets/fonts/MaterialSymbolsRounded_Filled-ExtraLight.ttf
assets/fonts/MaterialSymbolsRounded_Filled-Light.ttf
assets/fonts/MaterialSymbolsRounded_Filled-Medium.ttf
assets/fonts/MaterialSymbolsRounded_Filled-Regular.ttf
assets/fonts/MaterialSymbolsRounded_Filled-SemiBold.ttf
assets/fonts/MaterialSymbolsRounded_Filled-Thin.ttf
assets/fonts/MaterialSymbolsRounded-Bold.ttf
assets/fonts/MaterialSymbolsRounded-ExtraLight.ttf
assets/fonts/MaterialSymbolsRounded-Light.ttf
assets/fonts/MaterialSymbolsRounded-Medium.ttf
assets/fonts/MaterialSymbolsRounded-Regular.ttf
assets/fonts/MaterialSymbolsRounded-SemiBold.ttf
assets/fonts/MaterialSymbolsRounded-Thin.ttf
